<ion-header>
  <ion-toolbar>
    <ion-title>Lista imágenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar placeholder="ID/Texto" [(ngModel)]="filterText" (ionChange)="filter()"></ion-searchbar>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let item of items">
      <app-image [item]=item></app-image>
    </ion-item>
    <ion-label *ngIf="filterItems.length <= 0 || !filterItems">
      <h1 [hidden]="isHidden" class="ion-text-center">No hay coincidencias</h1>
    </ion-label>
  </ion-list>
  
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
